<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet"/>
</head>
<body>

<div ng-app="Elements" ng-controller="ElementsController" id="main">
    <table>
        <tr>
            <th>Elements</th>
            <th ng-repeat="group in elementsTree">

                <select ng-model="selected_elem[$index]" ng-options="elem.ElementName for elem in group track by elem.ElementId" />

            </th>
        </tr>
        <tr><td class="space_td"></td></tr>
        <tr>
            <td>
                <div class="result_div">Test results:</div>
                <select class="unit_select" ng-model="selected_unit" ng-options="unit.UnitName for unit in units track by unit.UnitId" />
            </td>
            <td ng-repeat="ppm in ppms track by $index">
                {{ ppm * conversions[selected_elem[$index]['ParentElementId'] + '-' + selected_unit.UnitId] * (selected_elem[$index].Factor ? selected_elem[$index].Factor : 1) | twoAfterDot }}
            </td>
        </tr>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="/src/scripts.js"></script>

</body>
</html>