*{
    margin:0;
    padding:0;
}

body{
    font:15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align:center;
}

table {
    margin: 20px;
}

.space_td {
    height: 4px;
}

th:first-child {
    border: solid 1px forestgreen;
    width: 200px;
}

th select {
    background-color: forestgreen;
    width: 90px;
    color: white;
}

.result_div {
    float: left;
    border: solid 1px forestgreen;
    padding: 0 2px;
}

.unit_select {
    float: right;
    color: forestgreen;
    background-color: white;
    padding: 1px 0;
}

td:not(:first-child) {
    border: solid 1px silver;
}